apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
    - grafana/configmap.yaml
    - grafana/deployment.yaml
    - grafana/ingress.yaml
    - grafana/pvc.yaml
    - grafana/service.yaml
    - prometheus/clusterrole.yaml
    - prometheus/deployment.yaml
    - prometheus/ingress.yaml
    - prometheus/secret.yaml
    - prometheus/service.yaml
    - prometheus/serviceaccount.yaml
configMapGenerator:
  - name: prometheus-config
    namespace: monitoring
    files:
      - prometheus.yml=prometheus/prometheus.yml