*.secret*
**/result/
.secret

# ################################# TERRAFORM ################################ #
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# ################################# ENV VARS ################################# #
.env
*.env