*.secret*
**/result/
.secret
.secrets

# ################################# TERRAFORM ################################ #
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# ################################# ENV VARS ################################# #
.env
*.env