---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn-release
  namespace: longhorn-system
spec:
  chart:
    spec:
      chart: longhorn
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: longhorn-repo
      version: v1.10.1
  interval: 1m0s
  values:
    service:
      ui:
        port: 9002
    ingress:
      enabled: true
      ingressClassName: traefik
      host: longhorn.syd.broc.ee
      tls: true
      tlsSecret: longhorn-tls
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        cert-manager.io/cluster-issuer: letsencrypt