# Radarr
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: radarr
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: radarr
      version: "1.8.1"
      sourceRef:
        kind: HelmRepository
        name: pree-helm-charts
        namespace: media
      interval: 1h
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - mainboy
    persistence:
      media:
        enabled: true
        existingClaim: media-nfs-pvc
        mountPath: /media
---
# Sonarr
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: sonarr
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: sonarr
      version: "1.12.1"
      sourceRef:
        kind: HelmRepository
        name: pree-helm-charts
        namespace: media
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - mainboy
    persistence:
      media:
        enabled: true
        existingClaim: media-nfs-pvc
        mountPath: /media
---
#Plex
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: plex
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: plex
      version: "7.2.0"
      sourceRef:
        kind: HelmRepository
        name: k8s-home-lab
        namespace: media
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - mainboy
    persistence:
      media:
        enabled: true
        existingClaim: media-nfs-pvc
        mountPath: /media
      config:
        enabled: true
        existingClaim: plex-config-pvc
        mountPath: /config
---
# Transmission
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: transmission
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: transmission
      version: "1.7.0"
      sourceRef:
        kind: HelmRepository
        name: lexfrei-charts
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values: [mainboy]
    persistence:
      media:
        enabled: true
        existingClaim: media-nfs-pvc
        mountPath: /media

    config:
      download-dir: /media/downloads
      incomplete-dir-enabled: false
---
# Jackett
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: jackett
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: jackett
      version: "11.7.2"
      sourceRef:
        kind: HelmRepository
        name: jackett
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values: [mainboy]
    persistence:
      config:
        enabled: true
        existingClaim: media-nfs-pvc
        mountPath: /config