# Radarr
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: radarr
  namespace: media
  interval: 30m
  chart:
    spec:
      chart: radarr
      version: "4.5.2"
      sourceRef:
        kind: HelmRepository
        name: radarr
        namespace: media
      interval: 1h
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - mainboy