# Radarr
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: radarr
  namespace: media
  interval: 30m
  chart:
    spec:
      chart: 
      version: "v4.5.2"
      sourceRef:
        kind: HelmRepository
        name: radarr
        namespace: media
      interval: 1h
  values:
    installCRDs: true
    global:
      leaderElection:
        namespace: media