# Overseerr
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: overseerr
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: overseerr
      version: "1.3.2"
      sourceRef:
        kind: HelmRepository
        name: brandan-schmitz
        namespace: media
  values:
    env:
      TZ: Australia/Sydney
      PUID: "1000"
      PGID: "1000"
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values: [mainboy]
    persistence:
      config:
        enabled: true
        existingClaim: overseerr-config-pvc
