apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: headplane-pvc
  namespace: headplane
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi